.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 60px;
    background: #f8fafc;
    gap: 40px;
}

/* LEFT SIDE */
.hero-left {
    flex: 1;
}

.hero-left h1 {
    font-size: 44px;
    color: #1e293b;
    line-height: 1.2;
}

.hero-left p {
    color: #64748b;
    margin-top: 18px;
    max-width: 520px;
    line-height: 1.6;
}

/* BUTTONS */
.hero-buttons {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.primary {
    background: #2563eb;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.primary:hover {
    background: #1d4ed8;
    border-color: #1d4ed8;
}

.secondary {
    border: 1px solid #2563eb;
    background: transparent;
    padding: 12px 22px;
    border-radius: 8px;
    cursor: pointer;
}

.secondary:hover {
    background: #1d4ed8;
    border-color: #1d4ed8;
}

/* RIGHT SIDE */
.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* CARD */
.hero-card {
    width: 380px;
    height: 380px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* IMAGE FIX */
.hero-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-left p {
        margin: auto;
    }

    .hero-buttons {
        justify-content: center;
    }
}