.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #2563EB;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
  color: #64748B;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.login-btn {
  padding: 8px 15px;
  border: 1px solid #2563EB;
  background: transparent;
  color: #2563EB;
  border-radius: 6px;
}
.login-btn:hover{
    background-color: black;
    color: white;
}

.signup-btn {
  padding: 8px 15px;
  background: #2563EB;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.signup-btn:hover{
    background-color: #07276b;
    }
.logo{
    width: 4rem;
    height: 4rem;
}
a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;

}
a:hover{
 
    text-decoration: underline;
    opacity: 1;
    font-weight: bold;

}